<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一名前端小白的进阶之路</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="shortcut icon" href="/favicon.ico"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.js"></script>

	
</head>
<body>

	<div id='fullpage'>
		<div class="section main-color">
			<nav id='nav' class="clearfix">
				<ul class="clearfix">
				<li><a class="current" href="#home">首页</a></li>
					<li><a href="/article">文章</a></li>
					<li><a href="/dailyrecord">碎言碎语</a></li>
					<li><a href="/messageboard">留言板</a></li>
				</ul>
			</nav>
			<img class="headimg" id="headimg" src="./img/headimg.jpg" alt="首页头像"/>
			<h1 id="s1Title" class="s1-title f1">从平地起高楼，聚沙成塔</h1>
			<h3 class="s1-name f2">刘可欣</h3>
			
			<div class="next-page-guide">
				<div class="parting-line bg2"></div>
				<a href="#about"><div class="guide guide1 main-color f1">About me</div></a>
				<div class="arrow"><img src="./img/arrow13.png" alt="箭头"></div>
			</div>
		</div>
		<div class="section bg4">
			<h1 id="s2Title" class="s2-title f1">从零基础开始</h1><br/>


			<p class="s2-content f2"><strong>大二下</strong>开始入前端的坑，自学各种前端语言<br/><br/>
			
				<strong>大三上</strong>开始入<strong>移动端</strong>的坑，有一点<strong>网页设计</strong>的基础
				<br/>参加过<a class="project-link f3" href="#project">实战</a>[<点这里]
			</p><br/><br/>

			<p class="s2-content f2">目前参加了另外一个项目，准备学react来搭前端的框架，2017年的目标就是向<strong>前端偏后</strong>的方向发展
			</p>

			<div class="next-page-guide">
				<div class="parting-line main-color"></div>
				<a href="#skills"><div class="guide guide2 bg4 f5">Skills</div></a>
				<div class="arrow"><img src="./img/arrow2.png" alt="箭头"></div>
			</div>

		</div>
		<div class="section bg1">
			<div class="s3-title f1">What can I do?</div>
			<div class="skills clearfix">
				<div class="skills-item main-skills">
					<img class="skills-img" src="./img/skills.png" alt="主要技能"/>
					<div class="s3-des f1"><p>主要技能</p>
						<p>css3动画</br>
							移动端H5</br>
							sass预处理器</br>
							javascript</br>
						</p>
					</div>
				</div>
				<div class="direction skills-item">
					<img class="skills-img" src="./img/direction.png" alt="方向"/>
					<div class="s3-des f1"><p>方向</p>
						<p>PC端开发</br>
							移动端开发</br>
							简单网页设计</br>
						</p>
					</div>
				</div>
				<div class="others skills-item">
					<img class="skills-img" src="./img/others.png" alt="其他"/>
					<div class="s3-des f1">
						<p>其他</p>
						<p>MarkDown文档</br>
							Git简单应用</br>
							其他方面均有所涉猎
						</p>
					</div>
				</div>
			</div>
			<div class="next-page-guide">
				<div class="parting-line bg2"></div>
				<a href="#project"><div class="guide guide3 bg1 f1">Project</div></a>
				<div class="arrow"><img src="./img/arrow13.png" alt="箭头"></div>
			</div>


		</div>
		<div class="section bg5">
			<div class="s4-title f1">项目and小栗子</div>
			<div class="QRcode clearfix">
				<div class="QRcode-item">
					<img src="./img/QRcode1.jpg" alt="公众号二维码"/>
					<p>我的公众号</p>
				</div>
				<div class="QRcode-item">
					<img src="./img/QRcode2.jpg" alt="灯神二维码"/>
					<p>我的小灯神服务号</p>
				</div>
				<div class="QRcode-item">
					<img src="./img/QRcode1.jpg" alt="广青二维码"/>
					<p>广青团委订阅号(部署阶段,目前不可用)</p>
				</div>
			</div>
			
			<div class="demo-list">

				<div class='demo-list'>
					<div class="demo-box-wrap">
						<a href="http://www.kexinweb.com/blog-demo/cool-3d">
							<div class="demo-box">
								<img src="./img/demo1.jpg" alt="demo1"/>
								<div class="demo-box-intro">
									<h3>轻盈几何体</h3><p>纯css3动画,仅支持chrome</br>使用css3构造几何体变换</br>全程使用sass书写样式代码</p>
								</div>
								<div class="demo-box-bottom">
									<p>2016年5月</p>
								</div>
							</div>
						</a>
					</div>
					<div class="demo-box-wrap">
						<a href="http://www.kexinweb.com/clock/clock1.html">
							<div class="demo-box">
								<img src="./img/demo2.jpg" alt="demo2"/>
								<div class="demo-box-intro">
									<h3>精致时钟</h3><p>自主设计的8个不同风格时钟</br>每个时钟均可同步时间</br>把好看的东西与你分享</p>
								</div>
								<div class="demo-box-bottom">
									<p>2016年5月</p>
								</div>
							</div>
						</a>
					</div>
					<div class="demo-box-wrap">
						<a href="http://www.kexinweb.com/blog-demo/book">
							<div class="demo-box">
								<img src="./img/demo3.jpg" alt="demo3"/>
								<div class="demo-box-intro">
									<h3>3D立体书</h3><p>纯css3</br>模仿逼真的立体书翻页效果</br>鼠标移上书本即可翻页</p>
								</div>
								<div class="demo-box-bottom">
									<p>2016年5月</p>
								</div>
							</div>
						</a>
					</div>
					<div class="demo-box-wrap mr0">
						<a href="http://www.kexinweb.com/blog-demo/album">
							<div class="demo-box">
								<img src="./img/demo4.jpg" alt="demo4"/>
								<div class="demo-box-intro">
									<h3>自制相册</h3><p>仅支持chrome等浏览器</br>
									各种阴影效果使得相册非常形象逼真</br>
									还有更多小栗子没有放上来</p>
								</div>
								<div class="demo-box-bottom">
									<p>2016年5月</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				
			</div>
			<div class="next-page-guide">
				<div class="parting-line bg3"></div>
				<a href="#contact"><div class="guide guide4 bg5 f7">Contact</div></a>
				<div class="arrow"><img src="./img/arrow4.png" alt="箭头"></div>
			</div>

		</div>
		<div class="section main-color">
			
			<img class="public-QRcode" src="./img/QRcode1.jpg" alt="公众号二维码"/>
			
			
			<div class="contact-list clearfix">
				<div class="contact-item">
					<img class="contact-img" src="./img/github.png" alt="github账号"/>
					<p class="f6 hide">http://github.com/kexinWeb/</p>
				</div>
				<div class="contact-item">
					<img class="contact-img" src="./img/email.png" alt="邮箱"/>
					<p class="f6 hide">1657619661@qq.com</p>
				</div>
				<div class="contact-item">
					<img class="contact-img" src="./img/wechat.png" alt="微信账号"/>
					<p class="f6 hide" >暂不开放</p>
				</div>
			</div>

			<p class="copyright f6 clearfix">Copyright © 2015-2017 kexinweb.com. 粤ICP备16085314号-1</p>

			<div class="next-page-guide">

				<div class="parting-line bg4"></div>
				<a href="#home"><div class="guide guide5 main-color f6">Go back</div></a>
				<div class="arrow-last"><img src="./img/arrow5.png" alt="箭头"></div>
				
			</div></div>
		</div>
		
		<script type="text/javascript" src="/js/home.js"></script>


	</body>
	</html>