<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>刘可欣—热爱一切美好事物的前端程序媛</title>
	<link rel="stylesheet" href="/css/login.css">
	<link rel="shortcut icon" href="/favicon.ico"/>
	<script type="text/javascript" src="/js/vendor/ajax.js"></script>
</head>
<body>
<header>刘可欣个人博客后台管理系统登录界面</header>
<div class="container">
	<div class="input-item">
		<span>用户</span>
		<input type="text" id="user"/>
	</div>

	<div class="input-item">
		<span>密码</span>
		<input type="text" id="password"/>
	</div>
	<button id="submit">登录</button>
</div>
<script type="text/javascript" src="/js/login.js"></script>
	
</body>
</html>