<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章管理页</title>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/main.css">
	<script type="text/javascript" src="/js/vendor/ajax.js"></script>
	
</head>
<body>
	<header>
		<p class="title">刘可欣个人博客后台管理系统</p>
		<div class="header-bar clearfix">
			<a class="logout" id="logout" href="/logout">退出</a>
		</div>

	</header>

	<div class="admin-container clearfix">
		<ul class="side-nav">

			<li><a class="current" href="/article/admin">文章分类</a></li>
			<li><a href="/article/admin/articlelist">文章列表</a></li>
			<li><a href="/article/admin/addarticle">写文章</a></li>
			<li><a href="/dailyrecord/admin">碎言碎语</a></li>
			<li><a href="/messageboard/admin">留言板</a></li>
		</ul>
		<ul class="list-wrap">
		<li class="list-item">
		     <span><%=type.id%></span>
			<input class="input" id="type" type="text" value="<%=type.type%>"/>
			<button class="button-modify" id="submit">修改文章分类</button>
		</li>

	</ul>
</div>
	<script type="text/javascript" src='/js/article/modifytype.js'></script>


</body>
</html>